<p>&#8220;Nostro Signore disse che alla fine dei tempi quando Satana sarà assiso sul suo trono (Ap 2,13), apparirà tanto simile a Lui sì da ingannare, se fosse possibile anche gli eletti (Mt 24,24). Ma se Satana opera prodigi, se pone delicatamente le mani sul capo dei bimbi, se appare benigno e benevolo con il povero, come faremo a distinguerlo dal Cristo? Ebbene Satana non porterà le stigmate sulle mani o sui piedi o sul costato. Egli apparirà come sacerdote, ma non come vittima&#8221;</p>
<p>Arcivescovo Fulton Sheen</p>
